.content-main {
	padding-top: 30px;
	height: 100px;
	background-image: url("../../assets/images/staff/Home-bg-slide.png");
	background-repeat: no-repeat;
	background-size: 100%;

	.show {
		background-color: #FAFAF7;
		min-height: 50px;
	}

	.main-content {
		background-color: #F5F4DC;
		min-height: 250px;
	}

	.btn-hi {
		margin-left: 15.5%;
	}

	#slider {
		background-color: #FAFAF7;
		width: 70%;
		height: 120px;
		overflow: hidden;
		margin-left: 0.5%;
	}

	#slider .slides {
		display: block;
		width: 6000px;
		height: 400px;
		margin: 0;
		padding: 0;
	}

	#slider .slide {
		float: left;
		list-style-type: none;
		width: 720px;
		height: 120px;
	}	
}


@media only screen and (min-width : 768px) {
	.content-main {
		background-size: 100%;
		#slider {
			margin-left: 15.5%;
		}
	}
}