<div class="content-main">
	<section class="show">
		<div id="slider">
			<ul class="slides">
				<li class="slide">
					<img src="./ui/assets/images/gallery/1.jpg" alt="" width="920px" height="200px">
				</li>
				<li class="slide">
					<img src="./ui/assets/images/gallery/2.jpg" alt="" width="920px">
				</li>
				<li class="slide">
					<img src="./ui/assets/images/gallery/3.jpg" alt="" width="920px">
				</li>
				<li class="slide">
					<img src="./ui/assets/images/gallery/4.jpg" alt="" width="920px">
				</li>
				<li class="slide">
					<img src="./ui/assets/images/gallery/5.jpg" alt="" width="920px">
				</li>
				<li class="slide">
					<img src="./ui/assets/images/gallery/6.jpg" alt="" width="920px">
				</li>
			</ul>
		</div>
	</section>
	<section class="main-content">
		<div class="main-cont">Down content</div>
	</section>
</div>
