<div class="content-main">
	<section class="show">
		<div id="slider">
			<ul class="slides">
				<li class="slide">
					1111 fgwgweweeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee <br>
					1111 fgwgweweeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee<br>
					1111 fgwgweweeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee<br>
					1111 fgwgweweeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
				</li>
				<li class="slide">2222 ewtttttttttttttttttttttttttttttttttttttttttttttttttt</li>
				<li class="slide">3333 dgggggggdgggggggggggggggggggggggggggggggggggg</li>
				<li class="slide">4444 fwewqfwqggggggggggggggggggggggggggggggggg</li>
				<li class="slide">5555 dgggggggdgggggggggggggggggggggggggggggggggggg</li>
				<li class="slide">6666 fwewqfwqggggggggggggggggggggggggggggggggg</li>
			</ul>
		</div>
	</section>
	<section class="main-content">
		<div class="main-cont">Down content</div>
	</section>
</div>
