
.show {
	padding-top: 25px;
	background-image: url("../../../assets/images/staff/slider-bg.png");
	background-repeat: no-repeat;
	background-size: 170% 40px;
}

.main-content {
	background-color: #F5F4DC;
	min-height: 250px;
}

#slider {
	background-color: #FAFAF7;
	width: 99%;
	min-height: 150px;
	overflow: hidden;
	margin-left: 0.5%;
}

#slider .slides {
	display: block;
	width: 6000px;
	margin: 0;
	padding: 0;
}

#slider .slide {
	background-color: #fafaf7;
	float: left;
	list-style-type: none;
	min-width: 920px;
	height: 120px;
	font-family: 'Goudy-Bookletter-1911', serif;
	font-size: 38px;
	margin-bottom: 10px;
}	


@media only screen and (min-width : 768px) {
	.show {
		padding-top: 45px;
		background-size: 100% 200px;
	}

	#slider, .main-cont {
		width: 70%;
		margin-left: 15.5%;
	}

	.main-content {
		padding-top: 20px;
	}
}