@import '../global.scss';

.upper-header {
	background-image: url("../../../assets/images/staff/header-logo.png");
	background-repeat: no-repeat;
	background-size: 200%;
	padding-right: 16%;
	padding-top: 6px;

	.menu-bar {
		list-style-type: none;
		margin-left: 50%;
		display: none;
	}
	
	.menu-bar-btn {
		display: block;
		margin-left: 100%;
		margin-top: -3px;
	}

	.menu-bar li {
		display: inline-block;
		font-family: serif;
		font-size: 0.7em;
		margin-right: 10px;

		a {
			color: #ffffff;
			&:focus{
				color: #EEE4BA;
			}
		}
	}
}

.menu {
	padding-top: 10px;
	width: 16%;
	height: 150px;
	display: none;
	margin-left: 63%;
	list-style-type: none;
	background-color: #958e7d;

	.menu-item {
		font-family: serif;
		font-size: 1em;
		margin-bottom: 10px;
		margin-left: -1px;
		a {
			color: #ffffff;
		}
	}
}

.wallet {
	margin-left: 2%;
	font-size: 32px;
	color: #ffffff;
	font-family: sans-serif;
}

button {
	min-width: 150px;
	height: 30px;
	border: 1px solid #375323;
	border-radius: 9999em 9999em 9999em 9999em;
	background-color: #749B58;
	display: block;
	margin-left: 2%;
	color: whitesmoke;
	font-family: 'Goudy-Bookletter-1911', serif;
}

/*==========  Mobile First Method  ==========*/

@media only screen and (min-width : 320px) {
	
}

/*===========================================*/

@media only screen and (min-width : 480px) {
}

/*===========================================*/

@media only screen and (min-width : 768px) {
	.upper-header {
		min-height: 80px;
		background-size: 100%;
		padding-top: 8px;

		.menu-bar-btn {
			display: none;
		}
		.menu-bar {
			display: block;
		}
	}
}

/*===========================================*/

@media only screen and (min-width : 992px) {

}

/*===========================================*/