<div class="upper-header">
	<ul class="menu-bar">
			<li><a class="home-btn menu-bar-item" href="#/home"><em>HOME</em></a></li>
			<li><a class="menu-bar-item" href="#/contact">CONTACT</a></li>
			<li>
				<a class="drop-down menu-bar-item" href="#/menu">MENU</a>
			<li><a class="menu-bar-item" href="#/location">LOCATION</a></li>
			<li><a class="menu-bar-item" href="#/hours">HOURS</a></li>
			<li><a class="menu-bar-item" href="#/awards">AWARDS</a></li>
			<li><a class="menu-bar-item" href="#/reviews">REVIEWS</a></li>
	</ul>

	<button class="menu-bar-btn">III</button>
	
	<ul class="menu">
			<li class="menu-item"><a href="">Milk Chocolate</a></li>
			<li class="menu-item"><a href="">Dark Chocolate</a></li>
			<li class="menu-item"><a href="">White Chocolate</a></li>
			<li class="menu-item"><a href="">Nuts Chocolate</a></li>
		</ul>
	</li>
</div>

<div>
	
</div>
