<div class="header-content">
	<nav class="side-bar">
		<ul class="nav-bar">
			<li><a class="menu-bar-item" href="#/home"><em>HOME</em></a></li>
			<li><a class="menu-bar-item" href="#/contact">CONTACT</a></li>
			<li><a class="menu-bar-item">MENU</a>
				<ul class="menu">
					<li class="menu-item"><a href="">Milk Chocolate</a></li>
					<li class="menu-item"><a href="">Dark Chocolate</a></li>
					<li class="menu-item"><a href="">White Chocolate</a></li>
					<li class="menu-item"><a href="">Nuts Chocolate</a></li>
					<li class="menu-item"><a href="">Cream Chocolate</a></li>
					<li class="menu-item"><a href="">Chocolates</a></li>
				</ul>
			</li>
			<li><a class="menu-bar-item" href="#/location">LOCATION</a></li>
			<li><a class="menu-bar-item" href="#/hours">HOURS</a></li>
			<li><a class="menu-bar-item" href="#/awards">AWARDS</a></li>
			<li><a class="menu-bar-item" href="#/reviews">REVIEWS</a></li>
		</ul>
		<button class="menu-bar-btn"><span></span></button>
	</nav>

	<h2 class="wallet">Chocolate for every taste</h2>
	<p>
		Ala bala portokola i malko chocolate s malinki. Ala bala portokola i malko chocolate s malinki. Ala bala portokola i malko
		chocolate s malinki. Ala bala portokola i malko chocolate s malinki.
	</p>
	<button><span>Click Here To Browse The Menu</span></button>
</div>