.footer-content {
	height: 100px;
	#btn.btn-hi {
		width: 150px;
		min-height: 150px;
		background-image: url("../../../assets/images/staff/btn-bottom.png");
		background-size: 100% 150px;
		margin-left: 49%;
	}
}

@media only screen and (min-width : 320px) {
	
}

/*===========================================*/

@media only screen and (min-width : 480px) {
}

/*===========================================*/

@media only screen and (min-width : 768px) {
	.footer-content {
		margin-left: 15.5%;
	}
}
