@font-face {
	font-family: 'Goudy-Bookletter-1911';
	src: url('../../assets/fonts/Goudy-Bookletter-1911/goudy_bookletter_1911.otf');
}

@font-face {
	font-family: 'LeagueGothic-Regular';
	src: url('../../assets/fonts/League-Gothic/LeagueGothic-Regular.otf');
}

@font-face {
	font-family: 'helvetica-bold';
	src: url('../../assets/fonts/helvetica-bold.otf');
}

body {
	margin: 0;
	padding: 0;

	a {
		text-decoration: none;
	}

	.wrapper {
		background-color: #452917;
		border: 2px solid #452917;

		.content.header {
			min-height: 240px;
			padding-top: 10px;
		}

		.content.header.green {
			background-image: url("../../assets/images/staff/green-bg.png");
			background-repeat: no-repeat;
			background-size: 100% 60px;
		}

		.content.footer {
			background-color: #FCFCF9;
		}
	}
}

/*==========  Mobile First Method  ==========*/

@media only screen and (min-width : 768px) {
	body {
		.wrapper {
			.content.header {
				padding-top: 25px;
				padding-left: 15.5%;
			}

		}
	}
}